.center-hv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-horizontal {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.color-red {
  color: rgb(176, 8, 21);
}

/* 底层背景 */
.color-bg-0 {
  background-color: rgb(210, 209, 186);
}

/* 区块背景 */
.color-bg-1 {
  background-color: rgb(240, 239, 226);
}

.el-dialog {
  background-color: rgb(240, 239, 226);

  .el-dialog__body {
    width: 60%;
    margin: 5% auto;
  }

  .el-dialog__footer {
    display: flex;
    justify-content: end;

    .elevated-button {
      padding-left: 2rem;
    }
  }
}

.el-table {
  --el-table-bg-color: rgb(240, 239, 226) !important;
  --el-table-header-bg-color: rgb(240, 239, 226) !important;
  --el-table-tr-bg-color: rgb(240, 239, 226) !important;
  --el-table-row-hover-bg-color: rgba(210, 209, 186, 0.5) !important;

  .el-table__expanded-cell {
    background-color: rgba(210, 209, 186, 0.7) !important;
  }
}

.el-pagination {
  --el-color-primary: rgb(240, 239, 226) !important;
  --el-color-white: black !important;
}

.el-descriptions {
  background-color: rgba(210, 209, 186, 0.5) !important;
  --el-fill-color-light: rgba(210, 209, 186, 0.5) !important;
  --el-descriptions-item-bordered-label-background: rgba(210, 209, 186, 0.5) !important;
}

.el-collapse-item__header {
  background-color: rgb(240, 239, 226) !important;
}
.el-collapse-item__wrap{
  background-color: rgba(240, 239, 226, 0.5) !important;
}
